<div
  class="expanded-container"
  *ngIf="expanded"
  fxLayout="row"
  fxLayoutAlign="start center"
  (click)="onBackgroundClick()"
>
  <div *ngIf="expanded" fxLayout="column">
    <div style="height: 400px; width: 400px; background-color: white">
      <span>hello world</span>
    </div>
  </div>
</div>

<div
  *ngIf="!expanded"
  class="not-expanded-container"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <button
    mat-mini-fab
    color="accent"
    *ngIf="!expanded"
    (click)="onExpandClick(); $event.stopPropagation()"
  >
    <mat-icon>home</mat-icon>
  </button>
</div>

<!-- <div *ngIf="false" class="app-container" fxLayout="column">
  <app-challenge *ngIf="lanistaTab"></app-challenge>

  <div
    *ngIf="!lanistaTab"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="24px"
  >
    <h3>Lanista must be open to use this extension</h3>
    <button mat-flat-button color="accent" (click)="onOpenClick()">
      Open Lanista
    </button>
  </div>
</div> -->
