.challenge-container {
  display: flex;
  flex-direction: column;
}

.spinner-container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.race-forms-container {
  display: flex;
  flex-direction: column;

  .race-column {
    display: flex;
    flex-direction: column;

    .race-form-row {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 12px;

      .race-form-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        flex: 1 1 auto;
        label {
          font-size: 16px;
          font-weight: 500;
          margin-right: 8px;
        }
      }
    }
  }
}

:host ::ng-deep .race-divider {
  margin-top: 12px;
  margin-bottom: 12px;
}

:host ::ng-deep .tactic-dropdown {
  width: 180px;
}

:host ::ng-deep .percentage-dropdown {
  width: 175px;
}

.bottom-row-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 12px;

  .bottom-row-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

:host ::ng-deep .level-input {
  display: flex;
  flex: 1 1 auto;
  input {
    width: 100%;
  }
}
