<!-- Injection Setting  -->
<div class="injection-setting-container">
  <label for="injectCheckbox" class="checkbox-label"> Show timers </label>
  <p-checkbox
    [binary]="true"
    inputId="injectCheckbox"
    (onChange)="toggleInjection($event)"
    [(ngModel)]="injectChecked"
  />
</div>
<div *ngIf="me" class="challenge-container">
  <!-- Race Forms -->
  <div class="race-forms-container">
    <div
      *ngFor="let race of races$ | async; index as index"
      class="race-column"
    >
      <div class="race-form-row" [formGroup]="getRaceForm(race.id)">
        <div class="race-form-toggle">
          <!-- Race Enabled -->
          <p-checkbox
            formControlName="enabled"
            [binary]="true"
            [inputId]="'raceCheckbox' + index"
          />
          <label [for]="'raceCheckbox' + index" class="checkbox-label">
            {{ race.name | titlecase }}
          </label>
        </div>

        <!-- Race Tactic Selector -->
        <p-dropdown
          class="tactic-dropdown"
          styleClass="tactic-dropdown"
          formControlName="battle_tactic"
          [options]="tacticOptions"
          optionLabel="label"
          optionValue="value"
        />

        <!-- Race Give up At Selector -->
        <p-dropdown
          class="percentage-dropdown"
          styleClass="percentage-dropdown"
          formControlName="give_up_percentage"
          [options]="percentageOptions"
          optionLabel="label"
          optionValue="value"
        />
      </div>
      <p-divider styleClass="race-divider" />
    </div>
  </div>

  <!-- Bottom Row -->
  <div class="bottom-row-container" [formGroup]="challengeForm">
    <!-- Min Level Input -->
    <div class="bottom-row-input-wrapper">
      <label for="minLevel">Min</label>
      <p-inputNumber
        formControlName="min_level"
        autocomplete="off"
        [showButtons]="true"
        inputId="minLevel"
        class="level-input"
      />
    </div>

    <!-- Nax Level Input -->
    <div class="bottom-row-input-wrapper">
      <label for="maxLevel">Max</label>
      <p-inputNumber
        formControlName="max_level"
        autocomplete="off"
        [showButtons]="true"
        inputId="maxLevel"
        class="level-input"
      />
    </div>

    <!-- Start At Selector -->
    <div class="bottom-row-input-wrapper">
      <label for="minLevel">Start at</label>
      <p-dropdown
        formControlName="min_start_percentage"
        [options]="percentageOptions"
        optionLabel="label"
        optionValue="value"
      />
    </div>

    <!-- Send Button -->
    <p-button
      label="Send"
      [disabled]="sending"
      [loading]="sending"
      (click)="sendChallenge()"
    />
  </div>
</div>

<!-- Loading spinner -->
<div *ngIf="!me" class="spinner-container">
  <p-progressSpinner />
</div>
