// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";

html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
